.icon {
  width: 24px;
  height: 24px;
  background-size: cover;
}

#trash-icon {
  background-image: url(/trash.png);
}

.chevron-up {
  margin-left: auto;
  background-image: url(/chevron_up.png)
}

.chevron-down {
  margin-left: auto;
  background-image: url(/chevron_down.png)
}

#education-icon {
  background-image: url(/cap.png);
}

#experience-icon {
  background-image: url(/work.png);
}

#email-icon {
  background-image: url(/email.png);
}

#phone-icon {
  background-image: url(/phone.png)
}

#location-icon {
  background-image: url(/location_pin.png);
}

#page-icon {
  background-image: url(/page.png);
}

#customize-icon {
  background-image: url(/customize.png);
}

.eye-icon {
  background-image: url(/eye.png);
}

.btn-trash-icon {
  background-image: url(/trash.png);
}



