
.resume-page-header {
  /* width: 100%;
  height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--resume-header-color);
  padding-top: 8px;
}

.resume-header-info {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.resume-header-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.resume-section-title {
  background-color: var(--resume-title-color);
  text-align: center;
  padding: 8px;
}

.resume-education-section, .resume-experience-section {
  padding-left: 48px;
  padding-right: 48px;
}

.resume-item {
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-content: start;
}

.resume-item-left, .resume-item-right {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
}

.resume-item-right :first-child {
  flex-direction: column;
  font-weight: bold;
}

.experience-description {
  text-align: left;
  grid-column: 2 / 2;
}