.resume-container {
  display: flex;
  justify-content: center;
}

.resume-page-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resume-header-info {
  display: flex;
  justify-content: space-around;
}